html, body {
    height: 100%;
}
body {
min-height:100%;
}
/*
@media (min-width: 700px) {
  .container {
    max-width: 800px;
  }
}
@media (min-width: 1120px), (min-height: 630px) {
    .firstPage { background-size: auto; }
}
*/
.firstPage {
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height:100%;
    width:100%;
    overflow: auto;
}
.logoimage {
    z-index: 999;
    top: 19px;
    left: 19px;
    cursor: pointer;
    position:fixed;
    height:200px;
}
.secondpage {
    background-image: url(../img/page2.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height:100%;
    width:100%;
}
.parallax { 
    /* The image used */
    background-image: url("../img/paralyx.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-family: 'Playball', cursive;
    font-size:30px;
}
.sidemenu {
z-index: 999;
top: 200px;
left: 19px;
cursor: pointer;
position:fixed;
font-family: 'Open Sans', sans-serif;
color : #e6f1f3;
font-size: 30px;
float:left;
width:40%;
}
.menuclass {
color : #e6f1f3;
font-family: 'Open Sans', sans-serif;
}
.menuclass:focus, .menuclass:hover {
color : #e6f1f3;
border-bottom: 2px solid red;
border-radius: 2px;
text-decoration:none;
}
.menuclass.active {
color : #e6f1f3;
border-bottom: 2px solid red;
text-decoration:none;
}
.rightsidemenu {
top:200px;
left:57%;
font-family: 'Open Sans', sans-serif;
color : #e6f1f3;
font-size: 30px;
margin-right:50px;
float:right;
width:40%;
position:fixed;
}
.homeimg {
float:right;
width:30px;
height:30px;
background:url(../img/icons/1home.png);
background-repeat: no-repeat;
background-size: contain;
border:0;
}

.homeimg.active, .homeimg:hover {
float:right;
width:30px;
height:30px;
background:url(../img/icons/9home.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}
.relaximg {
float:right;
width:30px;
height:30px;
background-image:url(../img/icons/2chilling.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}
.relaximg.active, .relaximg:hover {
float:right;
width:30px;
height:30px;
background-image:url(../img/icons/10chilling.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}




.livingimg{
float:right;
width:30px;
height:30px;
background-image:url(../img/icons/3balloon.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}
.livingimg.active, .livingimg:hover {
float:right;
width:30px;
height:30px;
background-image:url(../img/icons/11balloon.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}

.hoteloutimg {
float:right;
width:30px;
height:30px;
background-image:url(../img/icons/4hotelout.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}
.hoteloutimg.active, .hoteloutimg:hover {
float:right;
width:30px;
height:30px;
background-image:url(../img/icons/12hotelin.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}
.adventureimg {
float:right;
width:30px;
height:30px;
background-image:url(../img/icons/5hiking.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}
.adventureimg.active, .adventureimg:hover {
float:right;
width:30px;
height:30px;
background-image:url(../img/icons/13hiking.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}

.hotelimg {
float:right;
width:30px;
height:30px;
background-image:url(../img/icons/6hotelin.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}

.hotelimg.active, .hotelimg:hover {
float:right;
width:30px;
height:30px;
background-image:url(../img/icons/14hotelin.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}


.restimg {
float:right;
width:30px;
height:30px;
background-image:url(../img/icons/7rest.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}
.restimg.active, .restimg:hover {
float:right;
width:30px;
height:30px;
background-image:url(../img/icons/15rest.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}

.psimg {
float:right;
width:30px;
height:30px;
background-image:url(../img/icons/8comment.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}
.psimg.active, .psimg:hover {
float:right;
width:30px;
height:30px;
background-image:url(../img/icons/16comment.png);
background-repeat: no-repeat;
background-size: contain;
border:0;

}
.contentBox {
height:100%;
width:30%;
float:right;
}

.content {
    margin-top: 15%;
    margin-left: 40%;
    height: 200px;
    width: 500px;
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-size: 50px;
    text-align:center;
  
}
p1 {
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-size: 70px;
}
.context 
{
margin-left: 20%;
height:100%;
width:50%;
background: rgba(234, 64, 64, 0.7);
}
.context h3 {
font-family: 'Open Sans', sans-serif;
background:rgba(234, 64, 64, 1);color:white;padding:5px;
    margin-top: 0px;
height:40px;
}
.head {
margin-left:20px;
color:white;
}
.body {
margin-top:30%;
margin-left:20px;
color:white;
font-size:50px;
font-family: 'sans-';
width:400px;
}
.jist {
font-size:20px;
color:white;
margin-left:20px;
}
.more-click {
height:50px;
width:150px;
color:white;
margin-left:20px;
background:rgba(234, 64, 64, 0);
border:  2px solid white;
}
.body-click {
margin-top:10px;
margin-left:20px;
color:white;
font-size:30px;
font-family: 'sans-';
width:50%;
}
.eightpage {
height:100%;
width100%;
background:#e8dede;
    overflow: auto;

}
.lastpage {
margin-top: 5%;
color:black;
    font-family: 'Playball', cursive;
    font-size:50px;
text-align:center;
}
.commentbox {
  margin-top:5%;
  margin-left:10%;
  position: relative;
  width: 500px;
  height: 200px;
  float:left;
  color:white;
  font-size:30px;
  text-align: center;
  line-height: 100px;
  background-color: #080518;
  border: 8px solid #080518;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}
.commentbox:after {
 content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 190px;
  border: 15px solid #080518;
  border-color: #080518 #080518  transparent transparent;
}

.commenter {
margin-left:10%;
float:left;
width:80%;
}
.commenter1 {
margin-top:2%;
margin-left:35px;
height:100px;
width:100px;
float:left;
}
.details {
margin-top:20px;
margin-left:30px;
width:150px;
}
.name {
font-family: 'Open Sans';
font-weight: bold;
}
.commenter2 {
margin-left:55%;
margin-top:2%;
height:100px;
width:100px;
}
.details1 {
margin-top:2px;
margin-left:60px;
width:150px;
}

